@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');

:root{
    --overlay-color: #0000ff
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}


.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active
{
    right: 150px;

}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../img/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url('../img/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.text{
    position: relative;
    z-index: 10;
}

.menu
{
    display: none;
}

.gallery{
    display: none;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text p{
    font-size: 1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;

}

.text a:hover{
    letter-spacing: 4px;

}

.social{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;


}


.social li{
    list-style: none;
}


.social li a{
    display: inline-block;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover{
    transform: scale(0.5) translateX(15px) translateY(-15px);
}


.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #111;
}

.menu ul{
    position: relative;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.menu ul li a:hover{
    color:var(--overlay-color)
}

.gallery
{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #111;
}

@media(max-width: 991px)
{
    .showcase, .showcase header{
        padding: 40px;

    }

    .text h2{
        font-size: 3em;

    }
}